body{
    background-color: rgb(70, 70, 70);
}

.Panorama{
    background-color: black;
    width: 100%;
    
    user-select: none
}

.LeftBuilding{
    z-index: 99;
    width: 100px;
    height: 100px;
    float:left;
    background-color: greenyellow;
}
.RightBuilding{
    z-index: 99;
    width: 100px;
    height: 100px;
    float:right;
    background-color: orange;
}
.truckAnimationContainer{
    margin-bottom: 100px;
}

#BusAnimatedIcon{
    position: absolute;
    top:-15px;
    font-size: 600%;
}
.ArrowButton{
    transition: color 0.5s ease-out 50ms;
}
.ArrowButton:hover{
    color:white;
    cursor: pointer;
}
.leftArrow{
    position:relative;
    width: 100px;
    height: 100px;
    
    float: left;
    top:50%;
    z-index: 10;
}
.rightArrow{
    position:relative;
    width: 100px;
    height: 100px;
    
    float: right;
    top:50%;
    z-index: 10;
}


.generatedImgLeft{
    height: 100%;
    width: 100%;
    
}
.generatedImg{
    width: 100%;
    height: auto;
    display: block;
}
.generatedImRight{
    height: 100%;
    width: 100%;
}
/*
.generatedImgLeft{
    position:absolute;
    max-height: 400px;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    top:160px;
    left:10%;
    opacity: 70%;
}
.generatedImg{
    position: absolute;
    max-height: 540px;
    max-width: 540px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    left: calc(50% - 540px/2)
}
.generatedImRight{
    position: absolute;
    max-height: 400px;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    top:160px;
    right:10%;
    opacity: 70%;
}
*/

.generatedImgLeft{
    opacity: 50%;
    transition: opacity 1s ease-out 100ms;
}
.generatedImRight{
    opacity: 50%;
    transition: opacity 1s ease-out 100ms;
}
.generatedImgLeft:hover{
    opacity: 100%;
    cursor: pointer;
}
.generatedImRight:hover{
    opacity: 100%;
    cursor: pointer;
}

#BusLine{
    background-color: white;
}
.Bus{
    z-index: 2;
    position:absolute;
    background-color: rgb(255, 255, 255);
    color:black;
    width: 400px;
    height: 110px;
}
.LogoAnimated{
    z-index: 1;
    position: absolute;
    /*left:calc(50% - 200px);*/
    width: 300px;
    height: 110px;
    float:right;
    text-align: center;
    font-size: 150%;
    color:black;
}

.LogoMain{
    border: 1px black solid;
    width: 275px;
    height: 100px;
    padding: 1%;
    background-color: blanchedalmond;
    font-size: 200%;
}
.LogoLeft{
    margin-right: 2%;
    background-color: black;
    color:white;
    width: 50%;
    float:left;
    height: 100%;
}
.LogoRight{
    background-color: white;
    color: black;
    width: 48%;
    float:left;
    height: 100%;
}

.textContent{
    text-align: center;
}

.headerTextLeft{
    position: relative;
    top:25%;
    font-weight: 700 !important;
}
.iconStyle{
    color:goldenrod;
    position: absolute;
    bottom: 10px;
    font-size: 200%;
}
.textImportant{
    color:goldenrod;
    font-weight: bold;
}
.textNormalBreaker{
    font-weight: 600;
}
.textNormalMain{
    text-align: justify;
}
.textNormalImportant{
    text-decoration: underline;
}
.textList{
    font-size: 150%;
}
#liftButton{

    color: #007bff;
    cursor: pointer;
}
#LiftImageContainer{
    
    position: relative;
}

.imgLift{
    padding: 0;
    margin: 0;
    width: 49.5%;
    height: 40%;
    top: 10;
    right: 100px;
}

#liftCloseButton{
    z-index: 999999;
    color:gray;
    position: relative;
    bottom: 40%;
    left: 0%;
    font-size: larger;
    cursor: pointer;
}
a{
    text-decoration: underline;
}