body{
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Panorama{
    background-image: url("/images/background1.png");
    width: 100%;
    user-select: none;
    
}

.LeftBuilding{
    z-index: 99;
    width: 100px;
    height: 100px;
    float:left;
    background-color: greenyellow;
}
.RightBuilding{
    z-index: 99;
    width: 100px;
    height: 100px;
    float:right;
    background-color: orange;
}
.truckAnimationContainer{
    margin-bottom: 100px;
}

#BusAnimatedIcon{
    position: absolute;
    top:-15px;
    font-size: 600%;
}
.ArrowButton{
    transition: color 0.5s ease-out 50ms;
}
.ArrowButton:hover{
    color:white;
    cursor: pointer;
}
.leftArrow{
    position:relative;
    width: 100px;
    height: 100px;
    
    float: left;
    top:50%;
    z-index: 10;
}
.rightArrow{
    position:relative;
    width: 100px;
    height: 100px;
    
    float: right;
    top:50%;
    z-index: 10;
}


.generatedImgLeft{
    height: 100%;
    width: 100%;
    
}
.generatedImg{
    width: 100%;
    height: auto;
    display: block;
}
.generatedImRight{
    height: 100%;
    width: 100%;
}
/*
.generatedImgLeft{
    position:absolute;
    max-height: 400px;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    top:160px;
    left:10%;
    opacity: 70%;
}
.generatedImg{
    position: absolute;
    max-height: 540px;
    max-width: 540px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    left: calc(50% - 540px/2)
}
.generatedImRight{
    position: absolute;
    max-height: 400px;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    top:160px;
    right:10%;
    opacity: 70%;
}
*/

.generatedImgLeft{
    opacity: 50%;
    transition: opacity 1s ease-out 100ms;
}
.generatedImRight{
    opacity: 50%;
    transition: opacity 1s ease-out 100ms;
}
.generatedImgLeft:hover{
    opacity: 100%;
    cursor: pointer;
}
.generatedImRight:hover{
    opacity: 100%;
    cursor: pointer;
}

#BusLine{
    background-color: white;
}
.Bus{
    z-index: 2;
    position:absolute;
    background-color: rgb(255, 255, 255);
    color:black;
    width: 400px;
    height: 110px;
}
.LogoAnimated{
    z-index: 1;
    position: absolute;
    /*left:calc(50% - 200px);*/
    width: 300px;
    height: 110px;
    float:right;
    text-align: center;
    font-size: 150%;
    color:black;
}

.LogoMain{
    border: 1px black solid;
    width: 275px;
    height: 100px;
    padding: 1%;
    background-color: blanchedalmond;
    font-size: 200%;
}
.LogoLeft{
    margin-right: 2%;
    background-color: black;
    color:white;
    width: 50%;
    float:left;
    height: 100%;
}
.LogoRight{
    background-color: white;
    color: black;
    width: 48%;
    float:left;
    height: 100%;
}

.textContent{
    text-align: center;
}

.headerTextLeft{
    position: relative;
    top:25%;
    font-weight: 700 !important;
}
.iconStyle{
    color:goldenrod;
    position: absolute;
    bottom: 5px;
    font-size: 30px;
}
.textImportant{
    color:goldenrod;
    font-weight: bold;
}
.textNormalBreaker{
    font-weight:600;
}
.textNormalBreakerLight{
    font-weight:400;
}
.textNormalMain{
    text-align: justify;
}
.textNormalImportant{
    font-weight: 700;
}
.textList{
    font-size: 150%;
}
#liftButton{

    color: #007bff;
    cursor: pointer;
}
#LiftImageContainer{
    
    position: relative;
}

.imgLift{
    padding: 0;
    margin: 0;
    width: 49.5%;
    height: 40%;
    top: 10;
    right: 100px;
}

#liftCloseButton{
    z-index: 100;
    color:gray;
    position: relative;
    bottom: 40%;
    left: 0%;
    font-size: larger;
    cursor: pointer;
}
a{
    text-decoration: underline;
}


#liftButton, #liftCloseButton{
    user-select: none;
}

.contactInfo{
    z-index: 105;
    position: fixed;
    
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 40px 0px rgb(0, 0, 0);  
}
.pageDimmer{
    display: none;
    z-index: 101;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.5);
}
.contactCloseButton{
    z-index: 400;
    color:gray;
    position: relative;
    right: 50%;
    
    font-size: 300%;
    cursor: pointer;
}

#imgContactLarge{
    position:absolute; 
    width: 30%; 
    left:20px;
    top:20px;
}

#leftPanelcontactLarge{
    width: 60%;
    height: 90%;
    float: left;
}
#rightPanelcontactLarge{
    width: 40%;
    height: 90%;
    float: left;
}
#bottomPanelcontactLarge{
    height: 10%;
    
}
div[id*='RowContactSmall']{
    height: 10%;
    width: 100%;
}
#firstRowContactSmall{
    height: 20%;
}
#secondRowContactSmall{
    height: 10%;
}
#fourthRowContactSmall{
    height: 15%;
}
div[id*='RowTextSmall']{
    position: relative;
    left:2%;
    font-size: 8vw;
}

#imgContactSmall{
    position:absolute; 
    width: 50%; 
    left:10px;
    top:10px;
}
#leftPanelTextLarge{
    position: relative;
    top:30%;
    width: 100%;
    font-size: 2vw;
    left: 3%;
}
#rightPanelTextLarge{
    position: relative;
    top:33%;
    width: 100%;
    font-size: 2vw;
    right: 4%;
    text-align: right;
    
}
.pseudoHr{
    position: relative;
    top:30%;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 2px;
    left: 1%;
}
.contactLink{
    height: 100%;
    color:black;
}
.contactLink:hover{
    color: rgb(241, 190, 61);
    
    animation-name: animateContactItems;
    animation-fill-mode: forwards;  
    animation-duration: 0.1s;
}

#facebookIconClick{
    cursor:pointer;
}
@keyframes animateContactItems {
    from {
        letter-spacing: 0px;
    }
    to {
        letter-spacing: 1px;
        background-color: rgb(255, 255, 255);
    }
}

#emailToolTipWrapper #emailToolTip{
    visibility: hidden;
}
#emailToolTipWrapper:hover #emailToolTip{
    visibility: visible;
}

#phoneToolTipWrapper #phoneToolTip{
    visibility: hidden;
}
#phoneToolTipWrapper:hover #phoneToolTip{
    visibility: visible;
}

#emailToolTip{
    font-size: small;
    user-select: none;
}
#phoneToolTip{
    font-size: small;
    user-select: none;
}
.empty{
    visibility: hidden;
    font-size: small;
}
.emptyBreaker{
    padding-top: 10px;
}

ul{
    list-style: none;
}

.showLarge{
    background-color: green;
}

.showSmall{
    background-color: rebeccapurple;
}

#topMenuSmall{
    
    z-index: 20;
    background-color:white; 
    position:sticky; 
    top:0;
    
}

.dropdown{
    position: relative;
    
}

#dropdownIcon{
    position: relative;
    font-size: 8vw;
    
    text-align: right;
    right:4%;
}

.dropdown-menu{
    position: relative;
    right: 50%;
}
.dropDownMenu{
    display:none;
}
#smallMenuText{
    font-size: 6vw;
}
.smallLogo{
    width: 50vw;
}

#smallMenuLeftCol, #smallMenuRightCol{
    height: auto;
}